.home {
    background-image: url('../img/art-akabane-shkolniki.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer {
    background-color: rgba(250, 255, 245, 0.3);
}

.searchResult {
    background-color: rgba(250, 255, 245, 0.4);
}

#homeContent {
    margin-left: 0.8rem;
    margin-right : 0.8rem;
    margin-top: 0.5rem;
    margin-bottom : 0.5rem;
}